@font-face {
    font-family: 'Opificio Neue';
    src: url('OpificioNeue.woff2') format('woff2'),
        url('OpificioNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

